# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# UI build files
assets/
!assets/.gitkeep
!web/src/assets/

# OSX
.DS_Store

# Test binary, built with `go test -c`
*.test

# Test artifacts
test-reports/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor directory
vendor/

# Test coverage.
.test_coverage.txt

# Binaries
bin/

# Build artifacts
dist/
build/

# Compiled output
tmp
out-tsc
bazel-out

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
cache
.sass-cache
connect.lock
coverage
libpeerconnection.log
testem.log
typings
.docusaurus
.cache-loader
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
Thumbs.db
